# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Big files
data/**/*.mp4
data/**/*.avi
data/**/*.mov
data/**/*.zip
data/**/*.rar
data/**/*.xlsx
data/**/*.txt
data/**/*.jpg
notebooks/output/

output/

# log
*.log

# enviroment configuration
.env

# LaTex
paper/*.py 
*.aux
*.out
*.pdf
*.toc